<% title " #{@volunteer.v_name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> <%=@volunteer.v_name %></h3>

<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>        	
  <table border='border'>
    <tr>
      <th>Name:</th>
      <td><%= @volunteer.v_name %></td>
    </tr>
     <tr>
        <th>Event_Name :</th>
    <td>
     <%  @volunteer.events.each do |event| %>
     <%= event.event_name %> <%end%>
  </td>
   </tr>

    
    <tr>
    	<th>Usn</th>
    	<td><%= @volunteer.v_usn%></td>
    <tr>
     <tr>
    	<th>Sem</th>
    	<td><%= @volunteer.v_sem%></td>
    <tr>
     <tr>
    	<th>Contact Number</th>
    	<td><%= @volunteer.v_mob%></td>
    </tr>
      <tr>
    	<th>Email</th>
    	<td><%= @volunteer.v_email%></td>
    </tr>
    </table>
<br/>
<p align="right"><%= link_to("Back", {:action => 'index'}) %>&nbsp;&nbsp;&nbsp;<%= link_to("Edit", {:action => 'edit', :id=> @volunteer.id }) %></p>

</div>
</div> 