<% title "New Branch" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Add New Branch</h3>
        	
        	
<div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>         	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %> 

<div>
<% if @branch.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@branch.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @branch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>
   
<div>
<%= form_for(:branch, :url => {:action => 'create'}) do |f| %>
</div>  
    <table>
      <tr>
        <th>Branch Name<a class="tipfade"  original-title = "Required">  *</a></th>
        <td><%= f.text_field(:branch_name) %></td>
      </tr>
      <tr>
      		<th>Minimum CGPA for Dream Option<a class="tipfade"  original-title = "Required">  *</a></th>
      		<td><%= f.text_field(:dream_option)%></td>
     </tr>
    </table>
    
    <div>
    	<br />
      <p align = "right"><%= submit_tag("Create", :class => "button medium radius5") %></p>
      <p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
      
    </div>
    
 <% end %>
</div>
</div>
