<% title "Delete #{@guest.guest_name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Remove <%= @guest.guest_name %> from the Table</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   

<div>
	<%= form_for(:guest, :url => {:action => 'destroy', :id => @guest.id}) do |f| -%>
</div>
<p align = "center">Are you sure you want to permanently remove <%= @guest.guest_name %> from the table?</p>
	<div class = "actions" >
		<br/>
  		<p align = "right"><%= submit_tag("Delete", :class => "button medium radius5") %></p>
  	</div>
<% end %>
 <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
</div>
</div>