<% title "Edit #{@guest.guest_name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Change <%= @guest.guest_name %> details</h3>
        	
 <div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>   	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>  

<div>
<% if @guest.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@guest.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div> 
<div>
  	<%= form_for(:guest, :url => {:action => 'update', :id=> @guest.id }) do |f| %>
 </div> 
    <table>
      <tr>
        <th><%= f.label "Guest Name" %><a class="tipfade"  original-title = "Required"> *</a></th>
        <td><%= f.text_field(:guest_name) %></td>
      </tr>
      <tr>
	 	<th><%= f.label "Events" %><a class="tipfade"  original-title = "Required">  *</a></th>

	    <td>        <% for event in Event.find(:all) %>

	         <%= check_box_tag "guests[event_ids][]",event.id,@guest.events.include?(event)%>
	         <%= event.event_name %>

	         <%end%>  </td> 
	  </tr>
     <tr>
  		<th><%= f.label  "Contact Number" %></th>
  		<td><%= f.text_field :guest_mob %></td>
 		
	  </tr>
      <tr>
      		<th>Email<a class="tipfade"  original-title = "Required"> *</a></th>
      		<td><%= f.text_field(:guest_email)%></td>
     </tr>
      <tr>
	    <th><%= f.label "Role" %></th>
	    <td><%= f.text_field :guest_role %></td>
	  </tr>
     <tr>
	    <th><%= f.label "Details" %></th>
	    <td><%= f.text_area :guest_details %></td>
	  </tr>
	 
    </table><br/>
    
    <div class = "actions">
    	<br/>
      	<p align = "right"><%= submit_tag("Update", :class => "button medium radius5") %></p>
    </div>
    
    <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
    
  <% end %>
</div>
</div>
