<% title "New Guest" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Add New Guest</h3>
        	
        	
<div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>         	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %> 

<div>
<% if @guest.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@guest.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>
   
<div>
<%= form_for(:guest, :url => {:action => 'create'},:html => {:multipart => true }) do |f| %>

</div>  
    <table>
      <tr>
        <th><%= f.label "Guest Name" %><a class="tipfade"  original-title = "Required">  *</a></th>
        <td><%= f.text_field(:guest_name) %></td>
      </tr>
      <tr>
	 	<th><%= f.label "Events" %><a class="tipfade"  original-title = "Required">  *</a></th>

	    <td>        <% for event in Event.find(:all) %>

	         <%= check_box_tag "guest[event_ids][]",event.id,@guest.events.include?(event)%>
	         <%= event.event_name %>

	         <%end%>  </td> 
	  </tr>

      <tr>
  		<th><%= f.label  "Contact Number" %></th>
  		<td><%=f.text_field(:guest_mob) %></td>
 		
	  </tr>
      <tr>
      		<th><%= f.label  "Email" %><a class="tipfade"  original-title = "Required"> *</a></th>
      		<td><%= f.text_field(:guest_email)%></td>
     </tr>
      <tr>
	    <th><%= f.label "Role" %></th>
	    <td><%= f.text_field :guest_role %></td>
	  </tr>
     <tr>
	    <th><%= f.label "Details" %></th>
	    <td><%= f.text_area :guest_details %></td>
	  </tr>
    </table>
    
    <div>
      <br/><p align = "right"><%= submit_tag("Create", :class => "button medium radius5") %></p>
      <p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
    
 <% end %>
</div>
</div>
