<%if Branch.nil? %>
  <p>No Students </p>
<% else %>
<% title "Students List" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h1 class="content_title">Student Details</h1>
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %> 






  <div>
	<%= form_tag({:controller => 'students',:action => 'index'}) do %>
      </div>

<table border = "1">
	<tr>
		<th><%= label_tag "Select Year"%></th>
		<td><%= select_tag "year_select1",options_for_select(2011..Time.now.year+5) %>--<%= select_tag "year_select2",options_for_select(2012..Time.now.year+5) %></td>
	</tr>
</table><br/>

<div class = "actions" >
  		<p align = "right"><%= submit_tag("GO", :class => "button medium radius5") %></p>
</div>
<%end%>









<div>
<p align = "right"><%= link_to("Add New Student", {:action=>'new'}) %></p>
<%= form_tag({:controller => 'excel',:action => 'student_excel',:yy1 => @year1,:yy2 => @year2}) do %>
  			<div>
  				<table border = "1">
  				<tr>
    				<th><%= label_tag "file name"  %></th>
    				<td><%= text_field_tag :filename %></td>
    			</tr>
    			</table>
  			</div>
			<div class = "actions" >
  			<br/><%= submit_tag("Generate SpreadSheet", :class => "button medium radius5") %><br/><br/><br/><br/>
  			</div>
		<%end%>








  <table border='1'>
    <tr>
      <th>Actions</th>
      <th>Student Name</th>
      
      <th>Register Number</th>
      <th>Sem</th>
      <th>Branch</th>
      <th>Academic Year</th>
      <th>SSLC</th>
      <th>PUC</th>
      <th>Diploma</th>
      <th>Gap in education</th>
      <th>Cgpa</th>
      
      <th>Active Backlog</th>
      <th>Total Backlog</th>
      
      <th>Mobile</th> 
      <th>Email</th>
    
    
    </tr>






 
   

    <% @students.each do |student| %>
    
  <% if student.academic_year1==@year1 && student.academic_year2==@year2 %>
    <tr>

      <td>
        <%= link_to("Show", {:action => 'show', :id => student.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action=>'edit' ,:id=> student.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action=>'delete', :id=> student.id}, :class => 'action delete') %>
      </td>
    <td><%= student.name %></td>
   
    <td><%= student.reg_no %></td>
    <td><%= student.sem %></td>
    <td><%= Branch.find_by_id(student.branch_id).branch_name %></td>
    
    <td><%= student.academic_year1 %>--<%= student.academic_year2 %></td>
    <td><%= student.sslc %></td>
    <td><%= student.puc %></td>
    <td><%= student.diploma %></td>
    <td><%= student.gap_in_edu %></td>
    <td><%= student.cgpa %></td>
    <td><%= student.active_backlog %></td>
    <td><%= student.total_backlogs %></td>
   
   <td><%= student.mobile%></td>
   <td><%= student.email %></td>
    

    
     
    </tr>
    <% end %>
     <% end %>





              
     

    </table>
</div>
</div>
</div>
<% end %>

