<% title "Edit #{@dashboard.dash_head}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Change <%= @dashboard.dash_head %> details</h3>
        	
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>  

<div>
<% if @dashboard.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@dashboard.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div> 
<div>
  	<%= form_for(:dashboard, :url => {:action => 'update', :id=> @dashboard.id }) do |f| %>
 </div> 
    <table>
      <tr>
        <th>Dash Head</th>
        <td><%= f.text_field(:dash_head) %></td>
      </tr>
      <tr>
      		<th>Dash Board</th>
      		<td><%= f.text_area(:board)%></td>
     </tr>
    </table><br/>
    
    <div class = "actions">
    	<br/>
      <p align = "right">"<%= submit_tag("Update", :class => "button medium radius5") %></p>
    </div>
    
    <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
    
  <% end %>
</div>
</div>
