<% title "#{@dashboard.dash_head}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> <%=@dashboard.dash_head %></h3>

<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>        	
  <table border='border'>
    <tr>
      <th>Dash Head:</th>
      <td><%= @dashboard.dash_head %></td>
    </tr>
    
    <tr>
    	<th>Dash Board</th>
    	<td><%= @dashboard.board %></td>
    <tr>
      <th>Created At:</th>
      <td><%= @dashboard.created_at %></td>
    </tr>
    <tr>
      <th>Updated At:</th>
      <td><%=@dashboard.updated_at %></td>
    </tr>
  </table>
<br/>
<p align="right"><%= link_to("Back", {:action => 'index'}) %>&nbsp;&nbsp;&nbsp;<%= link_to("Edit", {:action => 'edit', :id=>@dashboard.id }) %></p>

</div>
</div> 