<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Add New Notice</h3>
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %> 

<div>
<% if @notice.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@notice.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>
   
<div>
<%= form_for(:notice, :url => {:action => 'create'}) do |f| %>
</div>  
    <table>
      <tr>
        <th>Notice Head</th>
        <td><%= f.text_field(:nhead) %></td>
      </tr>
      <tr>
      		<th>Notice Board</th>
      		<td><%= f.text_area(:nbody)%></td>
     </tr>
    </table>
    
    <div>
      <br/><p><%= submit_tag("Create") %></p>
      <p align="right"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
    
 <% end %>
</div>
</div>
