<% title "Graph_Company" %>
<script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>    

<script type="text/javascript" src="/javascripts/highcharts.js"></script>	
<script type="text/javascript" src="/javascripts/modules/exporting.js"></script>
<!-- 2. Add the JavaScript to initialize the chart on document ready -->
<script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'contain',
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false,
						borderColor: '#EBBA95',
        				borderWidth: 2
					},
					title: {
						text: 'Total Number of Students Placed Per Company'
					},
					subtitle: {
        					text: '<%= @all_count %> students placed till <%=Time.now.strftime(" %X")%>, <%=Time.now.strftime(" %d")%><%=Time.now.strftime(" %B")%><%=Time.now.strftime(" %Y")%>',
        					floating: false,
        					align: 'center'
        				
    				},
					credits: {
						
						href: 'http://www.nitte.ac.in', 
						text: 'NMAMIT'
					},
					tooltip: {
						formatter: function() {
							return '<b>'+ this.point.name +'</b>: '+ this.y + ' student(s) placed' ;
						}
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								formatter: function() {
									return '<b>'+ this.point.name +'</b>: '+ this.y;
								}
							}
						}
					},
				    series: [{
						type: 'pie',
						name: 'Company Share',
						<% count = 0 %>	
						<% total_count = @total_companies%>
						data: [<% @company_list.each do |company| %><% total_count-=1 %>['<%= company.cmp_name %>', <%= @student_list[count] %>]<%= ',' unless total_count==0 %><% count+=1%><% end %>]
					}]
				});
			});
				
		</script>
		

		<!-- 3. Add the container -->
		<div id="contain" style="width: 800px; height: 400px; margin: 0 auto"></div>