<% title "Company_Placement" %>
<script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>    

<script type="text/javascript" src="/javascripts/highcharts.js"></script>	
<script type="text/javascript" src="/javascripts/modules/exporting.js"></script>
<!-- 2. Add the JavaScript to initialize the chart on document ready -->
<script type="text/javascript">

			
			var chart;
			<% c = 0 %>
			<% i = 0 %>
			<% first_run = 1%>
			<% total_branch =  Branch.count%>
			<% branch_count = Branch.count%>
			<% branch_count_again = Branch.count%>
			$(document).ready(function() {
				
				var colors = Highcharts.getOptions().colors,
					categories = [
							<% temp_count = total_branch %>
							<% Branch.all.each do |branch| %>
								<% temp_count-=1 %>
								'<%= branch.branch_name %>'
								<%=',' unless (temp_count== 0)%>
							<%end%>
					
					],
					name = 'Branches',
					data = [<% Branch.all.each do |branch| %><% branch_count-=1%><% branch_count_again-=1%>
							<%= '{' %>
							y: <%= @number_of_placed_students[c] %><%= ','  %>
								
									color: colors[<%= i %>],
									drilldown: {
										name: '<%= branch.branch_name %>',
										<% count_limit = @company_final_array[c].count %>
										categories: [<% @company_final_array[c].each do |company| %><% count_limit -= 1 %>'<%= company %>' <%= ',' unless count_limit ==0 %><% end %>],
										data: <%= @placed_student_final_array[c]%>,
										color: colors[<%= i %>]
									}
						}<%= ',' unless branch_count == 0%>
						<% i+=1 %>
						<%c+=1%>
						<% end %>
						];
				
				function setChart(name, categories, data, color) {
					chart.xAxis[0].setCategories(categories);
					chart.series[0].remove();
					chart.addSeries({
						name: name,
						data: data,
						color: color || 'white'
					});
				}
				
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'contain', 
						type: 'column'
					},
					title: {
						text: 'Number of Students Placed'
					},
					subtitle: {
						text: 'Click the columns to view companies wise list. Click again to come back to the previous graph.(<%=Time.now.strftime(" %X")%>, <%=Time.now.strftime(" %d")%><%=Time.now.strftime(" %B")%><%=Time.now.strftime(" %Y")%>)'
					},
					credits: {
						
						href: 'http://www.nitte.ac.in', 
						text: 'NMAMIT'
					},

					xAxis: {
						allowDecimals: false,
						categories: categories							
					},
					yAxis: {
						allowDecimals: false,
						title: {
							text: 'Number of Students Placed'
						}
					},
					plotOptions: {
						column: {
							cursor: 'pointer',
							point: {
								events: {
									click: function() {
										var drilldown = this.drilldown;
										if (drilldown) { // drill down
											setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
										} else { // restore
											setChart(name, categories, data);
										}
									}
								}
							},
							dataLabels: {
								enabled: true,
								color: colors[0],
								style: {
									fontWeight: 'bold'
								},
								formatter: function() {
									return this.y;
								}
							}					
						}
					},
					tooltip: {
						formatter: function() {
							var point = this.point,
								s = this.x +':<b>'+ this.y +'  student placed </b><br/>';
							if (point.drilldown) {
								s += 'Click to view '+ point.category +' details';
							} else {
								s += 'Click to return to first list';
							}
							return s;
						}
					},
					series: [{
						name: name,
						data: data,
						color: 'white'
					}],
					exporting: {
						enabled: false
					}
				});
				
				
			});
				
		</script>
		

		<!-- 3. Add the container -->
		<div id="contain" style="width: 800px; height: 400px; margin: 0 auto"></div>
