<% title "Placement Portal" %>
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>


<!--Start Slider -->
<div id="slider" class="radius5">
    <ul id="accordion">
        <li>
            <span>
                <h2>Recruited students</h2>
                
            </span>
            <%= image_tag('featured1.jpg') %></li>
        </li>
		 <li>
                <span>
                    <h2>Crack the campus volunteers</h2>
                   
                </span>
                <%= image_tag('featured2.jpg') %></li>
            <li>
                <span>
                    <h2>Orientation day volunteers</h2>
                    
                </span>
                <%= image_tag('featured3.jpg') %></li>
            <li>
                <span>
                    <h2>Pride of NMAMIT</h2>
                </span>
                <%= image_tag('featured4.jpg') %></li>
       
    </ul>
</div>
<!--End Slider -->


	<h1 class="content_title">Highlights </h1><br/>
    
       
<h4><b><u><a href="ftp://172.16.3.238/placement" target="_blank">Click here to download placement related materials</a></b></u></h4><br/><br/><hr/>


	<div id="page_content" class="grid_11 alpha">
		<br/>
    
        

            <% if @dashboards==[] %>
                 <h3> No updates</h3> 
		           <p class="grid_11 alpha"> Dasboard empty  </p>
	            
	        <% else %>
	          
	           	<% @dashboards.each do|s| %>
	              <h3><%= s.dash_head %> </h3>
                 <p class="grid_11 alpha"> <%= s.board %>    </p>
               <% end %>
	        <% end %>
		

 <!-- begin sidebar -->
    <!-- begin testimonials widget -->
    <div id="testimonials">
    	<h3 class="content_title">Placement News</h3>


		        	<div id="slidetestimonial">
			            <% if @company==[] %>
			               <p>Companies are coming soon.</p>
			            <% else %>
		        		<%@company.each do |s|%>
		              <div>
		              	<% @student=StudentRegistration.where("company_id= ? && placed= ?",s.id,true)%>
		                <p class="blockquotte qleft">
		                	<% if @student.count >0 %>
		                <h2><%=s.cmp_name%><small><pre> Placed Students: <%=@student.count%></pre></small></h2>
		                <%else%>
		                 <h2><%=s.cmp_name%></h2><big><h5><pre>      Last Date for Registration  <bold><%=s.reg_date%></bold></small><small>    Test on <% if s.test_date.to_s == '1980-01-01' %>Not Yet Decided<% else %><%=s.test_date%></big></pre></h5><br/>
				<%end%>
		                 <%end%>
		                </p>
		                </div>
		                <%end%>
		                 <%end%>
		             </div>

    	

     </div>
    

		
	
		</div>
		</div>
		</div>
	<br/><br/><hr/><br/>
	    
			<% if @notices==[] %>
			<div> <h3 align="center">  NMAM Institute of technology, Nitte- 574110, Udupi District. </h3> </div>
			<% else %>
            <div><h3><marquee><%=@notices.last.nhead %> <%= @notices.last.nbody  %></marquee></h3> </div>
            <% end %>
	

