<% title "Mark_Distribution" %>
<script type="text/javascript" src="/javascripts/jquery-1.6.2.min.js"></script>    

<script type="text/javascript" src="/javascripts/highcharts.js"></script>	
<script type="text/javascript" src="/javascripts/modules/exporting.js"></script>
<!-- 2. Add the JavaScript to initialize the chart on document ready -->


		<script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'contain',
						defaultSeriesType: 'column'
						
					},
					title: {
						text: 'Marks Distribution'
					},
					subtitle: {
						
						text: 'Number of Students' 
					},
					credits: {
						
						href: 'http://www.nitte.ac.in', 
						text: 'NMAMIT'
					},
					xAxis: {
						allowDecimals: false,
						<% branch_counter = Branch.count %>
						categories: [<% Branch.all.each do |branch| %><% branch_counter-=1%>'<%= branch.branch_name%>'<%=',' unless branch_counter==0%><%end%>]
					},
					yAxis: {
						allowDecimals: false,
						min: 0,
						title: {
							text: 'Number of Students'
						}
					},
					legend: {
						enabled: true
					},
					tooltip: {
						formatter: function() {
							return ''+
								this.x +': '+ this.y;
						}
					},
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
				        series: [{
				        <% count1 = 0 %>
						name: 'CGPA below 6.75',
						data: [<% branch_count = Branch.count %><% Branch.all.each do |branch_for_count| %><% branch_count -=1 %><%= @count_less_675[count1] %><%=',' unless branch_count == 0 %><% count1 +=1 %><% end %>]
				
					}, {
						<% count2 = 0 %>
						name: 'CGPA >= 6.75',
						data: [<% branch_count2 = Branch.count %><% Branch.all.each do |branch_for_count| %><% branch_count2 -=1 %><%= @count_above_675[count2] %><%= ',' unless branch_count2 == 0%><% count2 +=1 %><% end %>]
				
					}, {
						<% count3 = 0%>
						name: 'CGPA >= 7.25',
						data: [<% branch_count3 = Branch.count %><% Branch.all.each do |branch_for_count| %><% branch_count3 -=1 %><%= @count_above_725[count3] %><%= ',' unless branch_count3 ==0 %><% count3 +=1 %><% end %>]
				
					}, {
						<% count4 = 0%>
						name: 'CGPA >= 7.75',
						data: [<% branch_count4 = Branch.count %><% Branch.all.each do |branch_for_count| %><% branch_count4 -=1 %><%= @count_above_775[count4] %><%= ',' unless branch_count4 == 0%><% count4 +=1 %><% end %>]
				
					}, {
						<% count5 = 0%>
						name: 'CGPA >= 8.25',
						data: [<% branch_count5 = Branch.count%><% Branch.all.each do |branch_for_count| %><% branch_count5 -=1 %><%= @count_above_825[count5] %><%= ',' unless branch_count5 == 0 %><% count5 +=1 %><% end %>]
				
					}, {
						<% count6 = 0%>
						name: 'CGPA >= 8.75',
						data: [<% branch_count6 = Branch.count %><% Branch.all.each do |branch_for_count| %><% branch_count6 -=1 %><%= @count_above_875[count6] %><%=',' unless branch_count6 ==0%><% count6 +=1 %><% end %>]
	
					   }]
				});
				
				
			});
				
		</script>

		
		<!-- 3. Add the container -->
		<div id="contain" style="width: 800px; height: 400px; margin: 0 auto"></div>
