<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>
<h4>Enter your details</h4>
<div>	  
	<%= form_tag({:action => 'check_user'}) do %>
</div>
<table border = "1">
	<tr>
    	<th><%= label_tag "USN" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= text_field_tag :username %></td>
    </tr>
	
	<tr>  
    	<th><%= label_tag "Date of Birth" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= text_field_tag :dob %>format(yyyy-mm-dd)</td>
 	</tr>
  	
</table><br/>
	<div class = "actions" >
  		<p align = "right"><%= submit_tag("Continue", :class => "button medium radius5") %></p>
  	</div>
<%end%>

   <%= link_to("Back to home page",{:controller=>'home',:action  => 'index'}) %>