<% title "#{@mtech_student.name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Change <%= @mtech_student.name %> details</h3>
        	
<div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>         	
<div>
	<p align = "left"><a class="tipfade"  original-title = "Optional"> **</a></th>Leave blank if not applicable</p>        	
</div> 
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   


<div>
<% if @mtech_student.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@mtech_student.errors.count, "Error") %> Prohibited your data from being saved:</h4>
      <ul>
      <% @mtech_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>
              	


<div>

<%= form_for(:mtech_student,:url => {:action => 'update', :id=> @mtech_student.id}, :html => {:multipart => true }) do |f| %>
</div>  
<table border = "1">
  	<tr>
    	<th><%= f.label "Name" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :name %></td>
    </tr>
	
	<tr>  
    	<th><%= f.label"Date of Birth" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.date_select :dob,:start_year => 1950 %></td>
 	</tr>
   	
 	<tr>
    	<th><%= f.label :sem %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:sem,3..4) %></td>
  	</tr>
   	<tr>
    	<th><%= f.label :pg_branch_id %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:pg_branch_id,PgBranch.all.collect{|b| [b.branch_name,b.id]}) %></td>
    </tr>
  	<tr>	
  		<th><%= f.label "Academic Year" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:academic_year1,[*2011..2025]) %>-<%= f.select(:academic_year2,[*2012..2030]) %></td>
    </tr>
 	<tr>
    	<th><%= f.label "Percentage In Sslc" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :sslc %></td>
 	</tr>
    <tr>
    	<th><%= f.label "Percentage In Puc"%><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :puc %></td>
 	</tr>
    <tr>
    	<th><%= f.label "Percentage In Diploma" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :diploma %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Percentage In BE" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :mtech_be_per %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Cgpa in Engineering" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :mtech_be_cgpa %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Gap in Education" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:gap_in_edu,0..20) %></td>
 	</tr>
    <tr>
    	<th><%= f.label "Sem 1 sgpa" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :sgpa_sem1 %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Sem 2 sgpa" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :sgpa_sem2 %></td>
 	</tr>
    <tr>
    	<th><%= f.label "Sem 3 sgpa" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :sgpa_sem3 %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Sem 4 sgpa" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :sgpa_sem4 %></td>
 	</tr>
    
    <tr>
    	<th><%= f.label "Cgpa" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :mtech_cgpa %></td>
  	</tr>
  	<tr>
    	<th><%= f.label "Active Backlog" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:active_backlog,0..10) %></td>
  	</tr>
    <tr>
    	<th><%= f.label "Total Backlogs" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.select(:total_backlogs,0..30) %></td>
 	</tr>
 	<tr>
    	<th><%= f.label "Landline Number" %><a class="tipfade"  original-title = "Optional">  **</a></th>
    	<td><%= f.text_field :telephone %></td>
 	</tr>
 	<tr>
   		<th><%= f.label "Mobile Number"%><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :mobile %></td>
 	</tr>
 	<tr>
    	<th><%= f.label "Email" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_field :email %></td>
 	</tr>
 	<tr>
    	<th><%= f.label "Address" %><a class="tipfade"  original-title = "Required">  *</a></th>
    	<td><%= f.text_area :address %></td>
	</tr>
	
  </table><br/>
  <div class = "actions" ><br/>
  <p align="right"><%= submit_tag("Update", :class => "button medium radius5") %></p>
  </div>
<% end %>
<% if permitted_to? :home_admin,@user=User.new %>
	 <div>
	 	
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
<% end %>
</div>
</div>