<% title "#{@mtech_student.name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"><%= @mtech_student.reg_no %></h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>         	


<table border="2">
<tr>
  <th>Name:</th>
     <td><%= @mtech_student.name %></td>
</tr>

<tr>
  <th>Date of Birth:</th>
     <td><%= @mtech_student.dob %></td>
</tr>

<tr>
  <th>Register Number:</th>
     <td><%= @mtech_student.reg_no %></td>
</tr>

<tr>
  <th>Sem:</th>
     <td><%= @mtech_student.sem%></td>
</tr>

<tr>
  <th>Branch:</th>
  <td><%= PgBranch.find_by_id(@mtech_student.pg_branch_id).branch_name %></td>
</tr>


<tr>
  <th>Academic Year1:</th>
     <td><%= @mtech_student.academic_year1 %></td>
</tr>

<tr>
  <th>Academic Year2:</th>
     <td><%= @mtech_student.academic_year2%></td>
</tr>

<tr>
  <th>SSLC:</th>
     <td><%= @mtech_student.sslc %></td>
</tr>

<tr>
  <th>PUC:</th>
      <td><%= @mtech_student.puc %></td>
</tr>

<tr>
  <th>Diploma:</th>
  <td><%= @mtech_student.diploma%></td>
</tr>
<tr>
  <th>Be percentage:</th>
  <td><%= @mtech_student.mtech_be_per%></td>
</tr>
<tr>
  <th>Cgpa in Engineering:</th>
  <td><%= @mtech_student.mtech_be_cgpa %></td>
</tr>
<tr>
  <th>Gap in Education:</th>
  <td><%= @mtech_student.gap_in_edu %></td>
</tr>
<tr>
  <th>Sem 1 Sgpa:</th>
  <td><%= @mtech_student.sgpa_sem1 %></td>
</tr>
<tr>
  <th>Sem 2 Sgpa:</th>
  <td><%= @mtech_student.sgpa_sem2 %></td>
</tr>
<tr>
  <th>Sem 3 Sgpa:</th>
  <td><%= @mtech_student.sgpa_sem3 %></td>
</tr>
<tr>
  <th>Sem 4 Sgpa:</th>
  <td><%= @mtech_student.sgpa_sem4 %></td>
</tr>

<tr>
  <th>Cgpa:</th>
  <td><%= @mtech_student.mtech_cgpa %></td>
</tr>
<tr>
  <th>Active Backlog:</th>
  <td><%= @mtech_student.active_backlog %></td>
</tr>
<tr>
  <th>Total Backlog:</th>
  <td><%= @mtech_student.total_backlogs %></td>
</tr>
<tr>
  <th>Telephone</th>
  <td><%= @mtech_student.telephone %></td>
</tr>
<tr>
  <th>Mobile:</th>
  <td><%= @mtech_student.mobile %></td>
</tr>
<tr>
  <th>Email:</th>
  <td><%= @mtech_student.email %></td>
</tr>
<tr>
  <th>Address:</th>
  <td><%= @mtech_student.address %></td>
</tr>

</table>
<br/>
<% if permitted_to? :home_admin,@user=User.new %>
<div>
<p align = "right"><%= link_to 'Back',{:action=> 'index'} %>&nbsp;&nbsp;&nbsp;<%= link_to 'Edit Student',{:action=> 'edit',:id=> @mtech_student.id}  %> </p>
</div>
<% end %>
<% if permitted_to? :home_mtech,@user= User.new %>
<% if Time.now-@mtech_student.created_at<=700000 %>
<p align = "right"><%= link_to 'Edit Information',{:action=> 'edit',:id=> @mtech_student.id}  %></p> 
<% else %>
<p>The time given to change your information is over! for any changes contact placement office.<p>
	<% end %>
<% end %>

</div>
</div>
