<% title "Reg. Page" %>
<% if permitted_to? :home_admin,@user=User.new %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h2 class="content_title">Registration Page</h2> <br/><br/><br/>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   



<div>	  
  <%= form_tag({:action => 'mca_student_registrations_update'}) do %>
</div>

   <%@pg_company.each do |pg_company|%>
   <br/><br/>
      <h2 class="content_title"><%=pg_company.cmp_name%></h2>
          <%pg_company.pg_branches.each do |pg_branch|%>
          	<br/>
             <h3 align = "right"><%=pg_branch.branch_name%></h3><hr/>
             
             <table border="1">
                <tr>
                	<th>Student USN</th>
                	<th>Name</th>
                	<th>Company Name</th>
                	<th>Placed Status</th>
                 </tr>
                 <br/>
                 			
                <%pg_branch.mca_students.each do |mca_student|%>
                    <%if !mca_student.pg_companies.nil?%>
                       <%mca_student.pg_companies.each do |cmp|%>
                           <%if cmp.id==pg_company.id%>
                           <%@i=1%>
                           <tr>
                           <td><%=mca_student.reg_no %></td>
                           <td><%=mca_student.name %></td>
                           <td><%=cmp.cmp_name %></td>
                           <%if McaStudentsRegistration.find_by_mca_student_id_and_pg_company_id(mca_student.id,cmp.id).placed? %>
                           <td><%=link_to("Undo Placement",{:action  => 'update_unplaced_for_mca',:id  => [mca_student.id,cmp.id]}) %></td>
                           <%else%>
                           <td><%=link_to("Place Now",{:action  => 'update_placed_and_remove_ineligible_for_mca',:id  => [mca_student.id,cmp.id]}) %></td>
                           <%end%> 
                            </tr>	
                           
                           <%end%>
                       <%end%> 
                    <%end%> 
                <%end%>
              </table>
            <%end%> 
        <%end%>  
<div>
	<br /><br />
   <p align="right"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
</div>        
<%end%>   

</div>
</div>
<% else %>
   <h2> you are not allowed to access this page </h2>
   <%= link_to("Back to home page",{:controller=>'home',:action  => 'index'}) %>
<% end %>