<% title "Reg. Page" %>
<% if permitted_to? :home_admin,@user=User.new %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h2 class="content_title">Registration Page</h2> <br/><br/><br/>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   



<div>	  
  <%= form_tag({:action => 'student_registrations_update'}) do %>
</div>

   <%@company.each do |company|%>
   <br/><br/>
      <h2 class="content_title"><%=company.cmp_name%></h2>
          <%company.branches.each do |branch|%>
          	<br/>
             <h3 align = "right"><%=branch.branch_name%></h3><hr/>
             
             <table border="1">
                <tr>
                	<th>Student USN</th>
                	<th>Name</th>
                	<th>Company Name</th>
                	<th>Placed Status</th>
                 </tr>
                 <br/>
                 			
                <%branch.students.each do |student|%>
                    <%if !student.companies.nil?%>
                       <%student.companies.each do |cmp|%>
                           <%if cmp.id==company.id%>
                           <%@i=1%>
                           <tr>
                           <td><%=student.reg_no %></td>
                           <td><%=student.name %></td>
                           <td><%=cmp.cmp_name %></td>
                           <%if StudentRegistration.find_by_student_id_and_company_id(student.id,cmp.id).placed? %>
                           <td><%=link_to("Undo Placement",{:action  => 'update_unplaced',:id  => [student.id,cmp.id]}) %></td>
                           <%else%>
                           <td><%=link_to("Place Now",{:action  => 'update_placed_and_remove_ineligible',:id  => [student.id,cmp.id]}) %></td>
                           <%end%> 
                           <!-- <td><%= check_box_tag "placed[]",[student.id,cmp.id],StudentRegistration.find_by_student_id_and_company_id(student.id,cmp.id).placed?%></td>-->
                           </tr>	
                           
                           <%end%>
                       <%end%> 
                    <%end%> 
                <%end%>
              </table>
            <%end%> 
        <%end%>  
<div>
	<br /><br />
   <p align="right"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
</div>        
<%end%>   

</div>
</div>                       
<% else %>
   <h2> you are not allowed to access this page </h2>
   <%= link_to("Back to home page",{:controller=>'home',:action  => 'index'}) %>
<% end %>    