<% title "Edit #{@event.event_name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Change <%= @event.event_name %> details</h3>
        	
 <div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>   	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>  

<div>
<% if @event.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@event.errors.count, "Error") %> Prohibited this branch from being saved:</h4>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div> 
<div>
  	<%= form_for(:event, :url => {:action => 'update', :id=> @event.id }) do |f| %>
 </div> 
    <table>
      <tr>
        <th><%= f.label "Event Name" %><a class="tipfade"  original-title = "Required"> *</a></th>
        <td><%= f.text_field(:event_name) %></td>
      </tr>
     <tr>
  		<th><%= f.label  "Event Date" %><a class="tipfade"  original-title = "Required">  *</a></th>
  		<td><%= f.date_select :event_date %></td>
 		
	  </tr>
      <tr>
      		<th>Event Venue<a class="tipfade"  original-title = "Required"> *</a></th>
      		<td><%= f.text_field(:event_venue)%></td>
     </tr>
     <tr>
	    <th><%= f.label "Event Details" %></th>
	    <td><%= f.text_area :event_details %></td>
	  </tr>
    </table><br/>
    
    <div class = "actions">
    	<br/>
      <p align = "right"><%= submit_tag("Update", :class => "button medium radius5") %></p>
    </div>
    
    <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
    
  <% end %>
</div>
</div>
