<% title "Event Details" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h1 class="content_title">Event Details</h1>
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   

<div>

<p align = "right"><%= link_to("Add new Event", {:action=>'new'}) %></p>
  
  <table border='border'>
    <tr>
     
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Event Venue</th>
      <th>Event Details</th>
      <th>Actions</th>
    </tr>
    
    <% @events.each do |event| %>
    <tr>
	
    <td><%= event.event_name %></td>
    <td><%= event.event_date %></td>
   	<td><%= event.event_venue %></td>
   	<td><%= event.event_details%></td>

	

      <td>
        <%= link_to("Show", {:action => 'show', :id => event.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action=>'edit' ,:id=> event.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action=>'delete', :id=> event.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>
</div>
