<% title "New Company" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Add New Company for Post Graduate Students </h3>
<div>
	<p align = "left"><a class="tipfade"  original-title = "Required"> *</a></th> Required</p>        	
</div>
<div>
	<p align = "left"><a class="tipfade"  original-title = "Optional"> **</a></th> Leave Blank if Not Applicable</p>        	
</div>        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   



<div>
	
	
<% if @pg_company.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@pg_company.errors.count, "Error") %> Prohibited your data from being saved:</h4>
      <ul>
      <% @pg_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>       	
<div>
	<%= form_for(:pg_company, :url => {:action => 'create'}, :html => {:multipart => true }) do |f| %>
</div>      
  <table>
      <tr>
        <th><%= f.label "Company Name" %><a class="tipfade"  original-title = "Required">  *</a></th>
        <td><%= f.text_field(:cmp_name) %></td>
      </tr>
     
	   <tr>
	       	<th><%= f.label " PostGraduate Branches Eligible" %><a class="tipfade"  original-title = "Required">  *</a></th> 
	         <td>     <% for pgbranch in PgBranch.find(:all) %>

		         <%= check_box_tag "pg_company[pg_branch_ids][]",pgbranch.id,@pg_company.pg_branches.include?(pgbranch)%>
		         <%= pgbranch.branch_name %>
				 <%end%>
			</td>
	  </tr>
	  <tr>
	    <th><%= f.label "Sslc" %><a class="tipfade"  original-title = "Required">  *</a></th>
	    <td><%= f.text_field :sslc %></td>
	  </tr>
	  <tr>
	    <th><%= f.label :puc %><a class="tipfade"  original-title = "optional"> **</a></th>
	    <td><%= f.text_field :puc %></td>
	  </tr>
	  <tr>
	    <th><%= f.label :diploma %><a class="tipfade"  original-title = "optional"> **</a></th>
	    <td><%= f.text_field :diploma %></td>
	  </tr>
	   <tr>
	    <th><%= f.label "Minimum Cgpa in BE" %><a class="tipfade"  original-title = "optional"> **</a></th>
	    <td><%= f.text_field :mtech_be_cgpa %></td>
	  </tr>
	 <tr>
	    <th><%= f.label "Minimum Percentage in BE" %><a class="tipfade"  original-title = "optional"> **</a></th>
	    <td><%= f.text_field :mtech_be_per %></td>
	  </tr>
	   <tr>
	    <th><%= f.label "Minimum Percentage in Previous Dgree" %><a class="tipfade"  original-title = "optional"> **</a></th>
	    <td><%= f.text_field :degree %></td>
	  </tr>
	  <tr>
	    <th><%= f.label "Minimum Cgpa for Mtech" %><a class="tipfade"  original-title = "Required">  *</a></th>
	    <td><%= f.text_field :mtech_cgpa %></td>
	  </tr>
	  <tr>
	    <th><%= f.label "Minimum Cgpa for Mca" %><a class="tipfade"  original-title = "Required">  *</a></th>
	    <td><%= f.text_field :mca_cgpa %></td>
	  </tr>
	  
	  <tr>
	    <th><%= f.label "Maximum Gap in Education"%></th>
	    <td><%= f.select( :gap_in_edu,[" ",*(0..25)] ) %></td>
	  </tr>
	  
	  <tr>
  		<th><%= label_tag "Minimum Date of Birth" %></th>
 		
 		<td><%= f.date_select :dob,:start_year => 1960,:end_year => Time.now.year, :include_blank => true %></td>
	  </tr>
	  
	  <tr>
	    <th><%= f.label "Salary(P.A)" %></th>
	    <td><%= f.text_field :salary %></td>
	  </tr>
	  
	   <tr>
	    <th><%= f.label "Maximum Active backlogs" %><a class="tipfade"  original-title = "Required">  *</a></th>
	    <td><%= f.text_field :backlogs %></td>
	  </tr>

	  <tr>
	    <th><%= f.label "Registration Date"%><a class="tipfade"  original-title = "Required"> *</a></th>
	    <td><%= f.date_select :reg_date,:start_year =>  Time.now.year,:end_year => Time.now.year+2%></td>
	  </tr>
	  
	 <tr>
	    <th><%= f.label "Preplacement Talk" %></th>
	   <td><%= f.date_select :preplacement_talk,:start_year =>  Time.now.year, :start_month => Time.now.month, :start_day => Time.now.day, :end_year => Time.now.year+2, :include_blank => true %></td>
	  </tr>
	 <tr>
	    <th><%= f.label "Test Date" %></th>
	    <td><%= f.date_select :test_date,:start_year =>  Time.now.year,:end_year => Time.now.year+2, :include_blank => true %></td>
	  </tr>
	   <tr>
	    <th><%= f.label "Interview_Date" %></th>
	    <td><%= f.date_select :interview_date,:start_year =>  Time.now.year,:end_year => Time.now.year+2, :include_blank => true %></td>
	  </tr>
	  <tr>
	    <th><%= f.label "Company Type" %><a class="tipfade"  original-title = "Required">  *</a></th>
	    <td><%= f.select(:pg_company_type,['CORE','SERVICE']) %></td>
	  </tr>
	  <tr>
	    <th><%= f.label "Extra Requirement" %></th>
	    <td><%= f.text_area :extra_req %></td>
	  </tr>
	  <tr>
	    <th><%= f.label "Miscellaneous" %></th>
	    <td><%= f.text_area :misc %></td>
	  </tr>
    </table><br/>
 <div class = "actions" ><br/>
<p align="right">  <%= submit_tag("Create" , :class => "button medium radius5") %></p>`
  </div>
<% end %>
	 <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
</div>
</div>
