<tr>  
	<td><%= link_to("Show Details", {:action => 'show_company', :id => company.id}, :class => 'action show') %></td>  
    <td><%= company.cmp_name %></td>
    <td>
     <% company.branches.each do |branch| %>
     <%= branch.branch_name %> <%end%>
    </td>
     <td><%= company.sslc %></td>
     <td><%= company.puc %></td>
     <td><%= company.diploma %></td>
     <td><%= company.backlogs %></td>
     <% if company.gap_in_edu == -1%>
     	<td>Not Applicable</td>
     <%else%>
     	<td><%= company.gap_in_edu %></td>
     <%end%>
     <td><%= company.cgpa %></td>
     <%if company.reg_date.to_s == '1980-01-01'%>
     	<td>Not Decided</td>
     <%else%>	
     	<td><%= company.reg_date %></td>
     <%end%>
     <%if company.preplacement_talk.to_s == '1980-01-01'%>
     	<td>Not Decided</td>
     <%else%>
     	<td><%= company.preplacement_talk %></td>
     <%end%>
     <%if company.test_date.to_s == '1980-01-01'%>
     	<td>Not Decided</td>
     <%else%>
     	<td><%= company.test_date %></td>
     <%end%>
     <%if company.interview_date.to_s == '1980-01-01'%>
     	<td>Not Decided</td>
     <%else%>
     	<td><%= company.interview_date %></td>
     <%end%>
     <td><%= company.salary %></td>
     <td><%= company.company_type %></td>
     
</tr>    