<% title " Search Result" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> Search Result</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<%= flash[:notice] %>
</div>
<% end %>


<% if @students.empty?%>
	<p align = "center"><b>No record Found</b> </p>
<%else%>
		 
		 <%= form_tag({:controller=>'excel',:action => 'res2_excel',:es => $select}) do %>
  			<div>
  				<table border = "0">
  				<tr>
    				<th><%= label_tag "file name"  %></th>
    				<td><%= text_field_tag :filename %></td>
    			</tr>
    			</table>
  			</div>
			<div class = "actions" >
  			<br/><%= submit_tag("Generate SpreadSheet", :class => "button medium radius5") %><br/><br/><br/><br/>
  			</div>
		<%end%>
		
		  <div>
		  <table border="1">
		   <%= render(:partial => "form5") %>
        <br />
		   <% @students.each do |s| %>
		
				<% s.each do |student|   %>
 					<%= render(:partial => "form6", :locals => {:student => student}) %>
				<%end%>    
			
		<%end %>
		</table>
		</div>
	<%end%>	
	<div>
    	<p align="right"><%= link_to("Click to go Back", {:action => 'other'}) %><br/></p>
    </div>
</div>
</div>


