<% title "USN Search Page"%>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Search by USN and other fields</h3>
        	
        	
      <% if !flash[:notice].blank? %>
	  <div>
		<p align = "center"><%= flash[:notice] %></p><br/><br/>
		</div>
	  <% end %>
<div>	  
	<%= form_tag({:action => 'result1',:c=> $select}) do %>
</div>
<table border = "1">
	<tr>	
		<th><%= label_tag "Name"%></th>
		<td><%= text_field_tag :name%></td>
	</tr>
	<tr>
		<th><%= label_tag  "USN"%></th>
		<td><%= text_field_tag  :reg_no%></td>
	</tr>
<% if $select!=2 %>
	<tr>
		<th><%= label_tag "Branches" %></th>
		  <td>
		  <% if $select==0 %>
		  <% for branch in Branch.find(:all) %>
     	  <%= check_box_tag "branch_id[]",branch.id%> <%= branch.branch_name %> <%end%></td>
     	  <% elsif $select==1 %>
		  <% for branch in PgBranch.find(:all) %><%if branch.branch_name!="MCA"%>
     	  <%= check_box_tag "branch_id[]",branch.id%> <%= branch.branch_name %> <%end%><%end%></td>
     	  <%end%>
         
     	   </td>
     	        	</tr>
 <%end%>
         <tr>
		<th><%= label_tag "Academic Year" %></th>
		<td><%= select_tag(:Academic_Year1,options_for_select(2011..Time.now.year+5), :include_blank => false) %> - <%= select_tag(:Academic_Year2,options_for_select(2012..Time.now.year+5), :include_blank => false) %></td>
	</tr>

	
    
</table><br/>

	<div class = "actions" >
  		<p align = "right"><%= submit_tag("Search", :class => "button medium radius5") %></p>
  	</div>
<%end%>
 	<div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index', :controller => 'admin'}) %><br/></p>
    </div>
</div>
</div>

