 <tr>
 	<td><%= link_to("Show Details", {:action => 'show', :id => student.id}, :class => 'action show') %></td>
  	<td><%= student.name %></td>
    <td><%= student.dob %></td>
    <td><%= student.reg_no %></td>
    <td><%= student.sem %></td>
    <td><%=  Branch.find_by_id(student.branch_id).branch_name %></td>
    
    <td><%= student.sslc %></td>
    <td><%= student.puc %></td>
    <td><%= student.diploma %></td>
    <td><%= student.gap_in_edu %></td>
    
    <td><%= student.cgpa %></td>
    <td><%= student.active_backlog %></td>
   
    <td><%= student.mobile%></td>
    <td><%= student.email %></td>

</tr>