<% title " Search Result" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> Search Result</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<%= flash[:notice] %>
</div>
<% end %>

<%= @a%>
<%= @b%>
<% if @unique_array.empty?%>
	  <p align = "center">No record Found </p>
<%else%>

	<%= form_tag({:controller=>'excel',:action => 'res3_excel_company'}) do %>
  			<div>
  				<table border = "1">
  				<tr>
    				<th><%= label_tag "file name"  %></th>
    				<td><%= text_field_tag :filename %></td>
    			</tr>
    			</table>
  			</div>
			<div class = "actions" >
  			<br/><%= submit_tag("Generate SpreadSheet", :class => "button medium radius5") %><br/><br/><br/><br/>
  			</div>
		<%end%>
		<div>
		  <table border="1">
		   <%= render(:partial => "form3") %>
              <%if !@unique_array.nil?%>        
		      <% @unique_array.uniq.each  do |company|  %>
		           
 					 <%= render(:partial => "form4", :locals => {:company => company}) %>
		          
		      <%end%> 
		      <%end%>
		 </table><br/>
		</div>
	<%end%>	
<div>
    	<p align="right"><%= link_to("Click to go Back", {:action => 'company'}) %><br/></p>
    </div>
</div>
</div>

