<% title "Search Result" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title"> Search Result</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<%= flash[:notice] %>
</div>
<% end %>




<% if @flag == 1 %>
<% if @students.empty?%>
	<p align = "center">No record Found </p>
	<%else%>
		 
		<%= form_tag({:controller => 'excel',:action => 'res1_excel'}) do %>
  			<div>
  				<table border = "1">
  				<tr>
    				<th><%= label_tag "file name"  %></th>
    				<td><%= text_field_tag :filename %></td>
    			</tr>
    			</table>
  			</div>
			<div class = "actions" >
  			<br/><%= submit_tag("Generate SpreadSheet", :class => "button medium radius5") %><br/><br/><br/><br/>
  			</div>
		<%end%>
		 
		 <div>
		 <table border="1">
		  <%= render(:partial => "form1") %>
		  
			<% @students.each do |s| %>
		
				<% s.each do |student|   %>
 					 <%= render(:partial => "form2", :locals => {:student => student}) %>
				<%end%>    
			
			<%end %>
		</table><br/>
		</div>
	<%end%>	
<% elsif @flag == 0 %>

	<!-- Check for other two fields --> 
	
	<%if @students == [] %>
		<p align = "center" >No record Found </p>
	<%else%>
	
		 
		 <%= form_tag({:controller => 'excel',:action =>'res1_excel'}) do %>
  			<div>
  				<table border = "1">
  				<tr>
    				<th><%= label_tag "file name"  %></th>
    				<td><%= text_field_tag :filename %></td>
    			</tr>
    			</table>
  			</div>
			<div class = "actions" >
  			<br/><%= submit_tag("Generate SpreadSheet") %><br/><br/><br/><br/>
  			</div>
		<%end%>
		<div>
		<table border="1">
			<%= render(:partial => "form1") %>
  			<% @students.each do |student| %>
  				<%= render(:partial => "form2", :locals => {:student => student}) %>
  			<%end%> 
		</table>
		</div>
	<%end%><br/>
<%end%>
	<div>
    	<p align="right"><%= link_to("Click to go Back", {:action => 'usn'}) %><br/></p>
    </div>
</div>
</div>
