<% title "#{@pgbranch.branch_name}" %>
<div id="content" class="container_16">
    	<!-- begin main content area -->
        <div id="page_content" class="grid_11 alpha">
        	<h3 class="content_title">Remove <%= @pgbranch.branch_name %> from the Table</h3>
        	
<% if !flash[:notice].blank? %>
<div>
	<p align = "center"><%= flash[:notice] %></p>
</div>
<% end %>   

<div>
	<%= form_for(:pgbranch, :url => {:action => 'destroy', :id => @pgbranch.id}) do |f| -%>
</div><br/>
<h4>Deleting <%= @pgbranch.branch_name %> branch will delete all the students registered in it.</h4><br/>
<p align = "center">Are you sure you want to permanently remove <%= @pgbranch.branch_name %> from the table?</p>
	<div class = "actions" ><br/>
  		<p align="right"><%= submit_tag("Delete", :class => "button medium radius5") %></p>
  	</div>
<% end %>
 <div>
    	<p align="left"><%= link_to("Click to go Back", {:action => 'index'}) %></p>
    </div>
</div>
</div>