
<%= form_for(@user_session) do |f| %>
<div>  
  <% if @user_session.errors.any? %>
    <div id="error">
      <h4 class="content_title"><%= pluralize(@user_session.errors.count, "error") %> prohibited you from logging in:</h4>
	 <ul>
     	<% @user_session.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
      </ul><br/><br/>
    </div>
  <% end %>
</div>
<table border = "1">
	
  <tr>
    <th><%= f.label :username %></th>
 	<td><%= f.text_field :username %></td>
  </tr>
  <tr>
    <th><%= f.label :password %></th>
    <td><%= f.password_field :password %></td>
  </tr>
</table>
  <div>
      <br/><p align="right" ><%= submit_tag("Login") %></p>
      
    </div>
<% end %>
