<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : 'Placement Portal' %></title>
  
  <%= stylesheet_link_tag('blueprint/src/reset.css', :media => 'all') %> 
<%= stylesheet_link_tag('blueprint/src/screen.css', :media => 'all') %>

<%= stylesheet_link_tag('blueprint/src/typography.css', :media => 'all') %>
<%= stylesheet_link_tag('blueprint/src/grid.css', :media => 'all') %>
<%= stylesheet_link_tag('blueprint/src/style.css', :media => 'all') %>
 
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>

	<%= javascript_include_tag('jquery-1.4.2.min.js') %>


	<%= javascript_include_tag :defaults %>

<!-- Load StyleSheets -->

<%= stylesheet_link_tag('reset.css', :media => 'all') %> 
<%= stylesheet_link_tag('960.css', :media => 'all') %>
<%= stylesheet_link_tag('general.css', :media => 'all') %>

<%= stylesheet_link_tag('colorgrape.css', :id=>'active-color', :media=> 'all' ) %>
<%= stylesheet_link_tag('menu.css', :id=>'active-menu', :media=> 'all' ) %>
<%= stylesheet_link_tag('texture-none.css', :id=>'active-texture', :media=> 'all' ) %>

<%= stylesheet_link_tag('colorgrape.css', :id=>'active-color', :media=> 'all' ) %>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<%= stylesheet_link_tag('loadlocalfonts.css', :media => 'all') %> 
<%= stylesheet_link_tag('fontcombo3.css', :id=>'active-combo', :media=> 'all' ) %>

<!-- Load Scripts -->
  
     <%= javascript_include_tag('jquery-1.6.2.min.js') %>

    <!--Load Nivo Slider -->
    
    <%= stylesheet_link_tag('nivo-slider.css', :media => 'all') %>
    <%= javascript_include_tag('jquery.nivo.slider.pack.js') %>
    
    <!--Load Coin Slider -->
    
     <%= stylesheet_link_tag('coin-slider-styles.css', :media => 'all') %>
     <%= javascript_include_tag('coin-slider.min.js') %>

    <!--Load bxSlider -->
  
       <%= stylesheet_link_tag('bx_styles.css', :media => 'all') %>
     <%= javascript_include_tag('jquery.bxSlider.min.js') %>
    
    <!--Load cycle Slider -->
     <%= javascript_include_tag('jquery.cycle.lite.1.0.min.js') %>
	<!--Load Kwicks Slider -->
	 <%= javascript_include_tag('jquery.kwicks-1.5.1.pack.js') %>    
    <!--Load SuperFish -->
    <%= javascript_include_tag('hoverIntent.js','superfish.js') %>

    <!--Load PrettyPhoto -->
   
     <%= stylesheet_link_tag('prettyPhoto.css', :media => 'all') %>
    <%= javascript_include_tag('jquery.prettyPhoto','jquery.easing.1.3', 'filterable', 'jflickrfeed.min', 'jquery.twitter.js', 'jquery.gmap-1.1.0-min.js' ) %>
    <%= javascript_include_tag('jquery.tipsy.js','jquery.vid.js'  ) %>
     			
    <!--Load Uniform -->
    
     <%= stylesheet_link_tag('uniform.default.css', :media => 'all') %>
    
    <%= javascript_include_tag('jquery.uniform.js') %>
	<!--Load StyleSwitcher -->

	 <%= stylesheet_link_tag('switcher.css', :media => 'all') %>
	<%= javascript_include_tag('jquery.cookie.js', 'switcher.js') %>


    <!--[if IE 7]>
        <link href='css/ie7.css' rel='stylesheet' type='text/css' />
    <![endif]-->
    
    <!--[if IE 8]>
        <link href='css/ie8.css' rel='stylesheet' type='text/css' />
    <![endif]-->
    	<%= javascript_include_tag('custom.js') %>
	
	<script type="text/javascript">
        $(document).ready(function(){
            $("#slidenivo").nivoSlider({
              controlNav:true
            });
        });
    </script>

	<script type="text/javascript">
        $(document).ready(function(){
            $("#slidetestimonial").bxSlider({auto:true, controls:false});
        });
    </script>

 <script type="text/javascript">
      var flashvars = {};
      flashvars.cssSource = "piecemaker.css";
      flashvars.xmlSource = "piecemaker.xml";
		
      var params = {};
      params.play = "true";
      params.menu = "false";
      params.scale = "showall";
      params.wmode = "transparent";
      params.allowfullscreen = "true";
      params.allowscriptaccess = "always";
      params.allownetworking = "all";
	  
      swfobject.embedSWF('piecemaker.swf', 'piecemaker', '1000', '600', '10', null, flashvars,    
      params, null);
    
    </script>

	<script type="text/javascript">
        $(document).ready(function(){
            $("#accordion").kwicks({
                max:850,  
                spacing:5,
                duration: 1500
            });
            /* Kwicks Auto-Play Start */
            strKwicksID = '#accordion'; //Class or ID
            intKwicksStart = -2 //0-n = Index | -1 = Collapse | -2 = Random | -3 = Off
            intKwicksDuration = 3 //Seconds
            intKwicksDirection = 1; //1 = Forward | -1 = Reverse
            
            var intKwicksTotal = $(strKwicksID + ' li').length;
            if (intKwicksStart == -2) {
                intKwicksStart = Math.floor(Math.random()*intKwicksTotal);
            }
            
            if (intKwicksStart != -3) {
                kwicksPlay(strKwicksID,intKwicksStart,intKwicksTotal,intKwicksDuration,intKwicksDirection);
                $(strKwicksID).hover(function() {
                    kwicksPause();
                },function() {
                    kwicksPlay(strKwicksID,-1,intKwicksTotal,intKwicksDuration,intKwicksDirection);
                });
            }
        });
    </script>

</head>

<body>
<div id="header">
	<div id="header_bottom"></div>
	<div id="header_wrapper" class="container_16">
    	<!-- begin logo -->
    	<div id="logo" class="grid_6">
        	<%= image_tag('nitte.jpg') %>       
        </div>
        <!-- end logo -->
        
        <!-- begin menu -->
        <div id="menucontainer" class="grid_16">
        	<ul class="sf-menu">
            	<li><%= link_to("Home", {:controller=>'home',:action => 'index'}, :class => 'action index') %></li>
	            <li><%= link_to("About us", {:controller=>'home',:action => 'about_us'}, :class => 'action index') %></li> 
            	
            	<li class ="">
            		<a class = "sf-with-ul" href="#">
            			Information
            			<span class="sf-sub-indicator"> »</span>
            		</a>
				    <ul>
				      	<li class="">
			        		<a class = "sf-with-ul" href = "#">Company Information
			        			<span class="sf-sub-indicator"> »</span>	
			        		</a>
			        		<ul>
			        			<% Branch.all.each do |branch|%>
			            			<li><%= link_to "#{branch.branch_name}",{:controller=>'home', :action=>'show_companies_per_branch', :id => branch.id } %> </li>
			            		<%end%>
			        		</ul>
			        	</li>
			        	
			        	<li class = "">
			        		<a class = "sf-with-ul" href = "#">Placed Students
			        			<span class="sf-sub-indicator"> »</span>	
			        		</a>
			        		<ul>
			        		
			                   <li><%= link_to("BE", {:controller=>'home',:action => 'intermediate_func4'},:class => 'action index') %></li>
				           <li><%= link_to("Mtech", {:controller=>'home',:action => 'intermediate_func5'}, :class => 'action index') %></li>
				           <li><%= link_to("MCA", {:controller=>'home',:action => 'intermediate_func6'}, :class => 'action index') %></li>
			           
			        		</ul>
				        </li>
				         <li class = "">
					        	<a class = "sf-with-ul" href = "#">Charts
				        			<span class="sf-sub-indicator"> »</span>	
				        		</a>
				        		<ul>
				        			<li><%= link_to("Placed Students vs Branch", {:controller=>'home',:action => 'intermediate_func'},:class => 'action index') %></li>
				        			<li><%= link_to("Branch vs Company vs Placed", {:controller=>'home',:action => 'intermidiate1'}, :class => 'action index') %></li>
				        			<li><%= link_to("Company vs Placed Students", {:controller=>'home',:action => 'intermidiate3'}, :class => 'action index') %></li>
				        			<li><%= link_to("Marks Distribution", {:controller=>'home',:action => 'intermidiate2'}, :class => 'action index') %></li>
				        		

				        		</ul>

					        </li>
					    </ul>

					</li>
				    
            	
			
                <li><%= link_to "Moodle", "http://172.16.2.10/moodle", :confirm => "Are you sure?" %></li>
                 
               
                
                <% if current_user %>

			    		<li><%= link_to "Change Password", edit_user_path(:current) %> </li>
						<li><%= link_to "Logout", logout_path %> </li>
				<% else %>
				  		<li><a href="#">Register</a>
				        <ul>
				            <li><%= link_to "BE",{:controller=>'students', :action=>'new'} %> </li>
				            <li><%= link_to "Mtech",{:controller=>'mtech_students', :action=>'new'} %> </li>
				             <li><%= link_to "MCA",{:controller=>'mca_students', :action=>'new'} %> </li>
				         </ul></li>
				   		<li><%= link_to "Login", login_path %> </li>
				<% end %>
	        </ul>
		</div>
		<div class="clear"></div>
        <!-- end menu -->
	</div>
	<!-- End header_wrapper -->  
</div>
<!-- End newheader -->



<!-- begin container -->  
<div id="container" class="container_16">
	 
	
	<% if permitted_to? :home_admin1,@user=User.new %> 
      <div id="user_nav">
			  <li>	<%= link_to("Create Admin/Placement Accounts",{:controller=>'users',:action  => 'new'}) %> </li> <br/> 
			       
	          <li>	<%= link_to 'Password change/Delete Account for Students',{:controller=>'users',:action  => 'index'} %> </li> <br/>
	 
	          <li>	<%= link_to("Settings",{:controller=>'settings',:action  => 'index'}) %> </li> <br/>
					   
			 </div>
    <%end%>
   <br/>
	<% if current_user %>
        <h2 class="content_title"><br/>Welcome  <%= current_user.username %> </h2>
    <% end %>
    
    <% if permitted_to? :home_admin1, @user=User.new %>
		<div id="user_nav">
	    	<%= link_to("<<Back to Admin Home Page", {:controller => 'admin',:action => 'index'}) %>
		</div>
	<% end %>
	<% if permitted_to? :home_placement, @user=User.new %>
		<div id="user_nav">
	    	<%= link_to("<<Back to Placement Home Page", {:controller => 'admin',:action => 'index'}) %>
		</div>
	<% end %>
	<% if permitted_to? :home_student, @user=User.new %>
		<div id="user_nav">
	    	<%= link_to("<- Back to student Home Page", {:controller => 'students_registrations',:action => 'index'}) %>
		</div>
	<% end %>
	<% if permitted_to? :home_mtech, @user=User.new %>
		<div id="user_nav">
	    	<%= link_to("<- Back to Mtech Home Page", {:controller => 'mtech_student_registrations',:action => 'index'}) %>
		</div>
	<% end %>
	<% if permitted_to? :home_mca, @user=User.new %>
		<div id="user_nav">
	    	<%= link_to("<- Back to MCA Home Page", {:controller => 'mca_students_registrations',:action => 'index'}) %>
		</div>
	<% end %>
    
    <div class="whitespace clear"></div> 
    	<!-- begin content area -->
    	<div id="content" class="container_16">
			<%= yield %>
			<div class="clear whitespace"></div>
 		</div>
<!-- end content area -->
</div> 
<!--END container -->

<!-- begin footer -->
<div id="footer">
	<div id="footer_top"></div>
	<!-- begin footer content -->
	<div id="footer_wrapper" class="container_16">
    	<!-- begin widget1 -->
    	<div id="aboutus" class="grid_8 alpha">
        	<h3>About Us</h3>
            <p>The department of Counselling, Student welfare, Training & Placement is vibrant in its activities and sees an NMAMITian as a cheerful, articulate, healthy team player who is technically competent, socially & environmentally conscious, ethically upright and eminently employable.</p>
        </div>
        <!-- end widget1 -->
        <!-- begin widget3 -->
    
    	<div id="contact_info" class="grid_4 omega">
        	<h3>Contact Us</h3>
            <p>
            	<span class="address">Website:<%= link_to "   www.nitte.ac.in", "http://www.nitte.ac.in", :confirm => "Are you sure?" %><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "   www.nitte.edu.in", "http://www.nitte.edu.in", :confirm => "Are you sure?" %></span>
				
				<span class="email">Email: placement.nmamit@gmail.com</span>
			</p>
        </div>
        <!-- begin widget3-->
        <div class="clear"></div>
	</div> 
    <!--END footer_content -->
    <div id="footer_bottom">
        <div id="copyright" class="container_16" style="margin:o auto;">
        	&copy; 2011 Copyright - NMAMIT,Nitte. All rights reserved.
        </div>     
    </div>
</div> 
<!--END footer -->


</body>

</html>
